*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: black;
   
}
.container{
    max-width:1000px ;
    margin: 0 auto;
}
