*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width:1200px ;
    margin: 0 auto;
} 

ul{
    list-style-type: none;
}

.row{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
}
.color-white{
    color: white;
}
.color-lightgray{
    color:#7a7d81;

}
.bg-gray{
    background-color: gray;
}

.bg-black{
    background-color:#000000;
}
div.lateral-side{
    padding-left: 1rem;
}

div.Nav{
    line-height: 40px;
}

.spotify-logo{
    width: 120px;
    padding: 1rem 0 1.4rem 0;
}
div.add-playlist{
    padding-top: 1rem;
}
.search-text, .librery-text, .home-text {
    padding-left: 5px;
}
.icon-search, .icon-librery, .home-icon{
    font-size: 20px;
}

.icon-user{
    font-size: 30px;
}

h4.user-name{
  margin: 0.2rem 0 .2rem .5rem;
  font-size: 13px;
}

.installaApp-text{
    padding: .2rem 0 0 .5rem;

}

.small-rule{
    border: 1px solid rgb(174, 169, 169);
    width: 85%;
    margin-top: .7rem;
}
ul.profile{
    padding: .5rem 0 .5rem 0;
}

h5.playlist-text{
    font-size: 13px;
    padding-bottom: .4rem;
}

.icon-add{
    font-size: 40px;
}

li.text{
    font-size: 14px;
    padding-top: .8rem;
}

.font-leftSide{
    font-size: 11px;
}

.playlistName {
    line-height: 30px;

}

div.left-navBar{
    width: 200px;
    height: 100%;
    justify-content: space-between;
}

.nav-bar{
    height: 80px;
    text-align: right;
    background-color:#080b12 ;
}

.upgrade-button{
 width: 130px;
 height: 30px;
 font-size: 9px;
 border-radius: 25px;
 margin-top: 25px;
 margin-right: 10px;
 padding-left: 6px;
 border: 1px solid white;
}

.margin-right{
    margin-right: 10px;
}


.addPlaylist-text{
    font-size: 14px;
     padding:.7rem 0 1rem 1.5rem;
}


div.main-box{
    width: 100%;
    background-color: black;
}

div.lateral-side{
    width: 20vw;
    background-color: #080b12;
   
}

 div.playlist-box{
    width: 80vw;
    
 }

 .img-librery, .img-search, .img-librery, .logo-small, .fa-solid, .img-download{
    width: 20px;
 }

 .img-user {
    width: 17px;
 }
 .circle{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: gray;
    text-align: center;
 }

 .playlist-main{
    background-color:#141922;
    padding-left: 0px;
 }
 
 .img1, .img2, .img3{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .circle-form{
    border-radius: 50%;
 }

 ul.main-menu{
    height: 40px;
    justify-content: center;
    font-size: 10px;
    padding-top: 1rem;
    padding-bottom: 5rem;
    
}

.main-navBar{
    justify-content: center;
}

 
 div.recently-played{
   width: 100%;
   display: flex;
 }

 div.card-song{
    width: calc((100% / 6) - 1rem);
    margin: .5rem;
 }

 .suggestion-card{
    width: 33%;
}

.card, .card1{
    width: calc((100% / 2) - 1rem);
    margin: .5rem;
}

.title-song{
    font-size: 11px;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .2rem;
}

.subtittle-song{
    font-size: 8px;
    text-align: center;
}

.recentlyPlayed-text, .preference, .most-famous{
    font-size:18px ;
    padding:1.5rem 0 .3rem .5rem;
}

.suggestions-text{
    font-size: 9px;
    padding-bottom: 1rem;
    padding-left: .5rem;
}


div.footer-nav{
    width: 100%;
     height: 100px;
     background-color:#282828;
     justify-content: space-between;
     
 }
 
 .left-side{
     width: 30%;
 }

 .small-logo{
    display:none
 }
 
 .music-tittle {
     font-size: 12px;
     padding-left: .5rem;
 }
 .name-song {
     font-size: 9px;
     padding-left: .5rem;
 }
 
 .img-tittleSong {
     align-items: center;
     padding: 1.5rem .7rem 0 .7rem ;
 }
 
 .like-folder {
     margin-left: 1.4rem;
     padding-top: 2rem;
 }
 
 .central-side{
     padding-top:1rem ;
 }
 
 div.evolution-time{
     width: 55%;
     height: 3px;
     border: 1px solid #5a5a5a;
     background-color: #5a5a5a;
     border-radius:30%;
     
 }
 
 .time{
     width: 20%;
     height: 3px;
     border: 1px solid white;
     background-color: white;
     border-radius:30%;
     
 }
 .time-line {
     font-size: 10px;
 
 }
 .time-line-left {
   margin-right: .5rem;
 }
 .time-line-right{
     margin-left: .5rem;
 }
 
 div.central-part{
    width: 40%;
     padding-top: .5rem;
 
 }
 
 .time-bar{
     height: 20px;
 padding-top: 2rem;
 
 }
 
 .icon-serie{
    width: 55%;
     height: 30px;
 margin-left: 1rem;
 padding-top: 1rem;
 }
 
 .shuffle-icon, .backward-icon, .forward-icon, .icon-rotate{
     font-size: 100%;
     padding-top: .5rem;
 }
 
 .icon-circleplay{
     font-size: 200%;
     padding-bottom: 1rem;
 }
 
 .centralside-padding{
     padding-right: 65px;
 }
 
 .right-side{
     width: 20%;
     align-items: center;
     justify-content: space-around;
 }
 .vol-1{
     width: 30%;
     height: 3px;
     border: 1px solid #5a5a5a;
     background-color: #5a5a5a;
     border-radius:30%;
     margin-right: 1rem;
 }
 .vol-2{
     width: 30%;
     height: 3px;
     border: 1px solid white;
     background-color: white;
     border-radius:30%;
 }
 
 .rightside-margin{
    margin-right: 8% ;
}

 


/************************************************
      Start HOver effects
 ************************************************/

 .no-hover-img{
    display: none;
 }

 .hover-img{
    position: relative;
    width: 100%;
 }

 .img1, .img2, .img3{
    opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility:visible;
  
 }

 .border{
    border-radius: 50%;
 }

 .middle{
    transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 text-align: center;

 }


.hover-img:hover .img1, .img2, .img3 {
    opacity: 0.3;
    cursor: pointer;
  }
  
  .hover-img:hover .middle {
    opacity: 2;
    cursor: pointer;
   
  }
  
  .icon-circle {
    color: white;
    font-size: 50px;
   
   
  }
  .Hover  {
    margin-bottom: 25px;
   
  }
  .Hover1  {
    margin-bottom: 45px;
  }

  .Hover2{
    margin-top:15px ;
  }

  .zoom-effect, .zoom-button{
    transition: transform .2s;
  }

  .zoom-effect:hover {
    -ms-transform: scale(1); 
    -webkit-transform: scale(1); 
    transform: scale(1);
    color: white;
    cursor: pointer;
  }

  .zoom-button:hover {
    -ms-transform: scale(.5); 
    -webkit-transform: scale(.5); 
    transform: scale(1.2);
    color: white;
    cursor: pointer;
  }

  .name-song:hover {
    text-decoration:underline;
  }


  .evolution-time:hover  .hover-time {
    display: block;
    width: 20%;
    height: 3px;
    border: 1px solid green;
    background-color: green;
    color: green;
    border-radius:40%;
    -ms-transform: scale(.5); 
    -webkit-transform: scale(.5); 
    transform: scale(1.2);
    cursor: pointer;
  }

  .vol-1:hover .vol-2 {
    display: block;
    width: 30%;
    height: 3px;
    border: 1px solid green;
    background-color: green;
    color: green;
    border-radius:40%;
    -ms-transform: scale(.5); 
    -webkit-transform: scale(.5); 
    transform: scale(1.2);
    cursor: pointer;
  }
  








/************************************************
      Start breakpoint medium of Playlist-box section
 ************************************************/
@media screen and (max-width: 992px) {

    div.recently-played{
        flex-wrap: wrap;
      }

      div.card-song{
         width: calc(100% / 4);
         margin: 0;
         padding: .5rem .5rem 2rem .5rem;
      }

      .suggestion-card{
        width: 50%;
       }

     .playlist-main{
        padding-left: 0px;
     }
     
     ul.main-menu{
        font-size: 12px;
       flex-wrap: wrap;
       height:110px ;
     }
     .margin-right{
        margin-right:30px ;
     }
     .padding-bottom{
        padding-bottom: 2rem;
     }

    .margin-right1 {
        margin-right: .3rem;
    }

    ul.install-app {
        margin-top: 1rem;
    }

    .like-folder {
        margin-left: .5rem;
        display: flex;
        
    }

    .small-rule{
        width: 60%;
    }

    .music-tittle {
        font-size: 10px;
        padding-left: .5rem;
    }
    .name-song {
       
        font-size: 6px;
        padding-left: .5rem;
    }

    .like-icon, .folder-icon{
        font-size: 12px;
    }

    .like-icon{
        padding-right: .5rem;
    }
    .centralside-padding{
        padding-right: 2.5rem;
    }

    

    
}

/************************************************
    End breakpoint medium of Playlist-box section
 ************************************************/
 /************************************************
    Start breakpoint small of Playlist-box section
 ************************************************/
 @media screen and (max-width: 786px) {

    .img1, .img2, .img3{
        width: 100%;
        height: 100%;
       margin: 0 0 0 0rem;
     }


     div.card-song{
        width: calc((100% / 2) - 2rem);
        margin: 1rem;
        padding: .5rem .5rem 1rem .5rem;
     }

    .suggestion-card{
        width: 100%;
       }

     .card, .card1{
        width: calc((100% / 2) - 3rem);
        margin: 1.5rem;
    }

     .subtitle-strange{
        width: 80%;
        padding-left: 6rem;
     }

     .recentlyPlayed-text, .preference, .most-famous{
        padding:1.5rem 0 .3rem 1.5rem;
    }
    
    .suggestions-text{
        font-size: 10px;
        padding-bottom: .5rem;
        padding-left: 1.5rem;
    }
     ul.main-menu{
        font-size: 11px;
        padding-left: 2rem;
     }

     .padding{
        padding-bottom:2rem ;
     }

     .margin-right{
        margin-right: 4rem;

    }

    .addPlaylist-text{
        font-size: 12px;
        padding:.6rem 0 1rem .6rem;
    }

    .playlistName{
        font-size: 9px;
    }
    .icon-add{
       font-size: 30px;
    }
    .librery-text, .search-text{
        font-size: 11px;
    }

    .spotify-logo{
        width: 100px;
    }

    .small-rule{
        width: 50%;
    }
    
    h4.user-name{
      padding: .3rem 0 .2rem .3rem;
      font-size: 11px;
    }
    

    

}

/************************************************
   End breakpoint small of Playlist-box section
 ************************************************/

 /************************************************
   start breakpoint xsmall of Playlist-box section
 ************************************************/
 @media screen and (max-width: 576px) {


    ul.main-menu{
       font-size: 13px;
    }

    .padding{
        padding-bottom:1rem ;
     }

     .margin-right{
        margin-right: 1rem;
    }

    .recentlyPlayed-text{
        font-size: 20px;
    }
    .title-song{
        font-size: 15px;
        padding-bottom: .5rem;
    }
    

      div.card-song{
         width: calc((100% / 2) - .2rem);
         margin: .1rem;
         padding: 1rem 0 .5rem 1.2rem;
         
      }

    .suggestion-card{
        width: 103%;
       }

     .card, .card1{
        width: calc((100% / 2) - 1.4rem);
        margin: .7rem;
    }

      .playlist-main{
        padding-right: 25px;
     }


     ul.main-menu{
        width: 100%;
    padding: 1rem 0 1rem 3rem;
        font-size: 10px;
       
     }

    .padding-right{
        padding-right: 0rem;
    }

    div.lateral-side{
        width: 3vh;
    }
    


    .subtitle-strange{
        width: 100%;
        padding-left: 0;
     }

     .text, .preference, .most-famous, .suggestions-text{
        padding-left: 1rem;
     }

     .spotify-logo, .home-text, .search-text, .librery-text, .add-playlist, .playlistName, .create-playlist, .installaApp-text, .user-name, .small-rule{
        display: none;
     }

     .small-logo{
        display: block;
        width: 30px;
        padding: 1rem 0 1rem 0;
     }

     .icon-serie{
            width: 20%;
             height: 30px;
         margin-left: 1rem;
         padding-top: 1rem;
         }

         .centralside-padding{
            padding-right: 1.8rem;
         }

         .rightside-margin{
            margin-right: 1rem ;
         }

         div.central-part {
           width: 40%;
         }


        .right-side{
            width: 30%;
        }


     
}



 /************************************************
    End breakpoint xsmall of Playlist-box section
 ************************************************/
 
