*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
   

   
}
.container{
    max-width:1200px ;
    margin: 0 auto;
} 

ul{
    list-style-type: none;
}

.row{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
}
.color-white{
    color: white;
}
.color-lightgray{
    color:#76797e;

}

.bg-black{
    background-color:#000000;
}
div.lateral-side{
    padding-left: 1rem;
}

div.Nav{
    line-height: 40px;
}

.spotify-logo{
    width: 120px;
    padding: 1rem 0 1.4rem 0;
}
div.add-playlist{
    padding-top: 1rem;
}
.search-text, .librery-text, .home-text {
    padding-left: 5px;
}
.icon-search, .icon-librery, .home-icon{
    font-size: 20px;
}

h5.playlist-text{
    font-size: 13px;
    padding-bottom: .4rem;
}

.icon-add{
    font-size: 40px;
}

li.text{
    font-size: 14px;
    padding-top: .8rem;
}

.font-leftSide{
    font-size: 11px;
}

.playlistName {
    line-height: 30px;

}

ul.create-playlist{

}
























.nav-bar{
    height: 80px;
    text-align: right;
    background-color:#080b12 ;
}

.upgrade-button{
 width: 170px;
 height: 30px;
 font-size: 9px;
 border-radius: 25px;
 margin-top: 25px;
 margin-right: 2px;
 padding-left: 2px;
 border: 1px solid white;
}

ul.main-menu{
    justify-content: center;
    font-size: 10px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.margin-right{
    margin-right: 10px;
}


.text{
    font-size: 18px;
     padding:0 0 1rem .5rem;
}


div.main-box{
    width: 100%;
    background-color: black;
}

div.lateral-side{
    width: 20%;
    background-color: #080b12;
   
}

 div.playlist-box{
    width: 80%;
    
 }

 .playlist-main{
    background-color:#141922;
    padding-left: 0px;
 }
 
 .img1, .img2, .img3{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .circle-form{
    border-radius: 50%;
 }
 
 div.recently-played{
   width: 100%;
   display: flex;
 }

 div.card-song{
    width: calc((100% / 6) - 1rem);
    margin: .5rem;
 }

 .suggestion-card{
    width: 33%;
}

.card, .card1{
    width: calc((100% / 2) - 1rem);
    margin: .5rem;
}

.title-song{
    font-size: 11px;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .2rem;
}

.subtittle-song{
    font-size: 8px;
    text-align: center;
}

.preference, .most-famous{
    font-size:18px ;
    padding:1.5rem 0 .3rem .5rem;
}

.suggestions-text{
    font-size: 9px;
    padding-bottom: 1rem;
    padding-left: .5rem;
}
/************************************************
      Start breakpoint medium of Playlist-box section
 ************************************************/
@media screen and (max-width: 992px) {
    .container{
        width: 70%;
    }

    div.recently-played{
        flex-wrap: wrap;
      }

      div.card-song{
         width: calc(100% / 4);
         margin: 0;
         padding: .5rem .5rem 2rem .5rem;
      }

      .suggestion-card{
        width: 50%;
       }

     .playlist-main{
        padding-left: 0px;
     }

     ul.main-menu{
        width: 90%;
        font-size: 12px;
        flex-wrap: wrap;
        padding: 1rem 1rem 0 1rem;
     }

     .margin-right{
        margin-right: 30px;
    }

    .padding-top{
        padding-top: 1.5rem;
    }

}

/************************************************
    End breakpoint medium of Playlist-box section
 ************************************************/
 /************************************************
    Start breakpoint small of Playlist-box section
 ************************************************/
 @media screen and (max-width: 786px) {
    .container{
        width: 70%;
    }


    .img1, .img2, .img3{
        width: 80%;
        height: 80%;
       padding-left: 1rem;
       margin: 0 2rem 0 2rem;
     }


     div.card-song{
        width: calc((100% / 2) - 2rem);
        padding: 0;
        margin: 1rem .5rem 1rem .5rem;
     }

     .subtitle-strange{
        width: 80%;
        padding-left: 6rem;
     }

     .text, .preference, .most-famous, .suggestions-text{
        padding-left: 3.5rem;
     }
     


     ul.main-menu{
        align-items: center;
        font-size: 10px;
        line-height: 40px;
     }


     .margin-right{
        margin-right: 2rem;
    }

      .padding-top{
        padding-top: 0;
    }

    .padding-right{
        padding-right: 2.5rem;
    }

    .suggestion-card{
        width: 100%;
       }

}

/************************************************
   End breakpoint small of Playlist-box section
 ************************************************/

 /************************************************
   start breakpoint xsmall of Playlist-box section
 ************************************************/
 @media screen and (max-width: 576px) {
    .container{
        width: 70%;
    }


    .img1, .img2, .img3{
        width: 100%;
        height: 100%;
       padding-left: .3rem;
       margin-left: .3rem;
     }

      div.card-song{
         width: calc((100% / 2) - .2rem);
         margin: .1rem;
         padding: 1rem 0 1rem 0;
         
      }

      .playlist-main{
        padding-right: 25px;
     }


     ul.main-menu{
        width: 100%;
    padding: 1rem 0 1rem 3rem;
        font-size: 10px;
       
     }

    .padding-right{
        padding-right: 0rem;
    }


    .subtitle-strange{
        width: 100%;
        padding-left: 0;
     }

     .text, .preference, .most-famous, .suggestions-text{
        padding-left: 1rem;
     }

    }



 /************************************************
    End breakpoint xsmall of Playlist-box section
 ************************************************/
 
 div.footer-nav{
   width: 100%;
    height: 100px;
    background-color:#282828;
}

